body {
    font-family: sans-serif;
}

table {
    border-collapse: collapse;
    border: 2px solid rgb(140 140 140);
    font-family: sans-serif;
    font-size: 0.8rem;
    letter-spacing: 1px;
}
  
caption {
    caption-side: bottom;
    padding: 10px;
    font-weight: bold;
}
  
thead,
tfoot {
    background-color: rgb(228 240 245);
}

thead th {
    text-align: center;
}
  
th,
td {
    border: 1px solid rgb(160 160 160);
    padding: 8px 10px;
    text-align: left;
	height: 2em;
}
  
td:last-of-type {
    text-align: center;
}
  
tbody > tr:nth-of-type(even) {
    background-color: rgb(237 238 242);
}
  
tfoot th {
    text-align: right;
}
  
tfoot td {
    font-weight: bold;
}

input[type=text] {
	border: .1em solid;
	border-radius: .2em .2em 0 0;
	height: 2em;
}

button {
	appearance: none;
	border: .2em solid #E91E63;
	background: hsl(0 0 0/0);
	padding: .85em 1.5em;
	color: #E91E63;
	border-radius: 0.1em;
	transition: 1s;
	width: 10em;
	margin: 0em 1em 0em 0em;
	&:hover, &:focus, &:active {
		background: #E91E63;
		color: #fff;
	}
}
