h1, h2, h3, h4, h5, h6 {
	color: hotpink;
}

body {
    font-family: sans-serif;
}

table {
    border: 1px solid hotpink;
	width: 100%;
}

thead, tfoot {
    background-color: hotpink;
}

thead th {
    text-align: left;
}

th, td {
    border: 1px solid rgb(228 240 245);
    text-align: left;
	height: 2em;
    font-family: sans-serif;
}

tbody > tr:nth-of-type(even) {
    background-color: pink;
}

input[type=text] {
	border: .2em solid;
	border-radius: .2em .2em 0 0;
	height: 2em;
    width: 96%;
}